body{
    font-family: 'Titillium Web', sans-serif;
    margin:0px 100px;
}

.top-line{
    position: ri;
    background-color: #102648;
    color:#fab600;
    padding:10px;
    text-align: right;
    height: auto;
    margin: 0px -100px;
}

.top-line a{
    padding: 5px;
    color:#fab600;
    text-decoration: none;
}

.header{
    margin: 20px 60px;
}

/* Toutes les sections sont en display flex */
section, form{
    display: flex;
}


.logo{
    height: 100px;
}

.buttons{
    background-color: #102648;
    color:#fab600;
    box-shadow: 1px 3px 3px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
    width: 150px;
    height: 40px;
    padding: 10px;
    border: none;
    text-align: center;
    box-sizing: border-box;
    margin: 0px 100px;
}

#header-title{
    box-sizing: border-box;
    margin: 30px 300px;
}
/*
.video-block{
    width: 100px;
    height: 100px;
}*/
